.navbar{
    padding: -0.5rem 1rem;
}
.container{
    width: 100%;
    max-width: 1190px;
    margin: 0 auto;
}
.para {
    padding: 53px 0 35px;
    text-align: center;
}
.para p{
    font-size: 26px;
    line-height: 1.36;
    color:#000;
}
.para p span{
    font-weight: 600;
    font-style: italic;
    color: #333;
}

.containerflex{
    display: flex;
    
}
.column{
    /* float:left;  */
    display: flex;
    justify-content: space-evenly;
    
    width: 33.3%;
    padding: 15px; 
    padding-bottom: 40px;
    margin: 10px;
    background-color: whitesmoke;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
;
}
.resort-info container{
    display:flex;
    flex-direction: row;
}
.form{
    display: flex;
    margin: 61px 75px;
    padding: 65px;
}
.form-section{
    margin-left: 70px;
}
.form-inside{
    margin-left: 230px;
}
.btn {
    margin :20px 0;
    padding: 12px 25px;
    background-color: orangered;
    border:none;
    cursor: pointer;
    color:white;
    outline:none;
    border-radius: 100px;
    box-shadow: 0 5px 20px 0 hsla(12,88%,59%,0.582);
    transition: all .3s;
}